<!DOCTYPE html>
<html>

<head>
	<title>curso</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../css/normalize.css">
	<link rel="stylesheet" type="text/css" href="../css/libs/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../css/curso.css">
</head>

<body>
	<header>
		<div id="logo">
			<div class="imgLogo"></div>
			<div class="titleLogo"></div>
		</div>
		<div id="menu">
			<a class="title" href="/home">Home</a>
			<span id="userEmail" class="title"></span>
			<div class="avatar"></div>
		</div>
	</header>
	<section id="topPannel">
		<div class="boxTitle">
			<span class="title">¡No te olvides de leer por aquí!</span>
			<div id="txtMje"></div>
		</div>
		<div id="userData">
			<form action="#" name="formRegister" method="get">
				<div class="form-row">
					<div class="col col-md-4">
						<label class="title" for="inputFirstName">Nombres</label>
						<input id="name" type="text" class="form-control">
					</div>
					<div class="col col-md-4">
						<label class="title" for="inputLastName">Apellido</label>
						<input id="lastName" type="text" class="form-control">
					</div>
					<div class="col col-md-4">
						<label class="title" for="inputCurso">Materia</label>
						<input id="nameMateria" type="text" class="form-control" disabled>
					</div>
				</div>
			</form>
		</div>
	</section>
	<section id="downPannel">
		<div id="formPannel">
			<div id="iconoEnviar"></div>
			<form action="#" name="formLogin" method="get">
				<label class="title">Enviá un archivo</label>
				<input type="file" class="form-control-file" id="inputFileSend">
				<label id="lblNotif" class="notificacion"></label>
				<button id="btnEnviar" type="button" class="btn btn-primary btn-lg btn-block">Enviar</button>
			</form>
		</div>
		<div class="tableTp">
			<table class="table table-striped">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Nombre del Archivo</th>
						<th scope="col">Fecha</th>
						<th scope="col">Estado</th>
					</tr>
				</thead>
				<tbody id="tbody"></tbody>
			</table>
		</div>
	</section>
	<script src="/js/jquery-3.3.1.min.js"></script>
	<script src="/js/curso.js"></script>
</body>

</html>