<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>No sé la clave</title>
    <link rel="stylesheet" type="text/css" href="../css/normalize.css">
    <link rel="stylesheet" type="text/css" href="css/libs/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/forgot.css">
    <link rel="icon" href="img/favicon.png" type="image/x-icon">
</head>

<body>
    <header>
        <div id="logo">
            <div class="imgLogo"></div>
            <div class="titleLogo"></div>
        </div>
    </header>
    <section id="container">
        <div id="iconPensador"></div>
        <div id="pannel">
            <div id="imgCarta"></div>
            <h2 id="titleEnvio">Te enviamos tu clave a tu email</h2>
            <div id="formPannel">
                <form action="#" name="formLogin" method="get">
                    <div id="divPass" class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="password" placeholder="Password">
                        <label id="lblNotifPass" class="notificacion"></label>
                        <button id="btnIngresar" type="button" class="btn btn-primary btn-lg btn-block">Ingresar</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
    </div>
    <script type="text/javascript" src="js/aut/forgot_password.js"></script>
</body>

</html>