<!DOCTYPE html>
<html>

<head>
	<title>home</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../css/normalize.css">
	<link rel="stylesheet" type="text/css" href="css/libs/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/home.css">
	<link rel="icon" href="img/favicon.png" type="image/x-icon">
</head>

<body>
	<header>
		<div id="logo">
			<div class="imgLogo"></div>
			<div class="titleLogo"></div>
		</div>
	</header>
	<section id="topPannel">
		<div class="boxTitle">
			<div class="avatar"></div>
			<div class="title">
				<h3>¡Bienvenido Alumno!</h3>
			</div>
		</div>
		<div id="userData">
			<form action="#" name="formRegister" method="get">
				<div class="form-row">
					<div class="col col-md-6">
						<label class= "title" for="inputFirstName">Nombres</label>
						<input id="name" type="text" class="form-control" >
					</div>
					<div class="col col-md-6">
						<label class= "title" for="inputLastName">Apellido</label>
						<input id="lastName" type="text" class="form-control" >
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-md-6">
						<label class= "title" for="inputEmail4">Email</label>
						<input id="email" type="email" class="form-control">
					</div>
					<div class="form-group col-md-6">
						<label class= "title" for="inputDni">DNI</label>
						<input id="dni" type="text" class="form-control">
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-md-3" disabled>
						<label class="title"for="inputCurso">Curso</label>
						<input id="curso" type="text" class="form-control" value="5 C" disabled>
					</div>
				</div>
			</form>
		</div>
	</section>
	<section id="downPannel">
		<div class="row">
			<div class="col">
				<a href="/curso/bd">
					<div class="materia">
						<div id="imgBd" class="img"></div>
						<div class="title">Base de Datos</div>
					</div>
				</a>
			</div>
			<div class="col">
				<a href="/curso/gda">
					<div class="materia">
						<div id="imgGda" class="img"></div>
						<div class="title">Gestión de Datos</div>
					</div>
				</a>
			</div>
			<div class="col">
				<a href="/curso/laboratorio">
					<div class="materia">
						<div id="imgLab" class="img"></div>
						<div class="title">Lab. de Hardware</div>
					</div>
				</a>
			</div>
			<div class="col">
				<a href="/curso/sor">
					<div class="materia">
						<div id="imgSor" class="img"></div>
						<div class="title">Sist. y Org</div>
					</div>
				</a>
			</div>
		</div>
	</section>
	<script src="/js/home.js"></script>
	<script src="/js/jquery-3.3.1.min.js"></script>
</body>

</html>