<!DOCTYPE html>
<html>
<head>
	<title>home</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="css/libs/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/home.css">
</head>
<body>
	<section id="userData">
		<div class="userPhoto"></div>
		<div class="datos"></div>
	</section>
	<section id="listadoCursos">
		<div class="list-group">
  		<a href="#" class="list-group-item list-group-item-action active">
    		Cras justo odio
  		</a>
		</div>
	</section>

</body>
</html>