header {
    width: 100%;
    height: 5%;
    background-color: #1E90FF;
}
#logo {
    width: 300px;
    height: 80px;
    position: relative;
}

#logo .imgLogo {
    width: 100px;
    height: inherit;
    background-image: url(../img/logoAlternativo.png);
    display: inline-block;
}

#logo .titleLogo {
    width: 200px;
    height: 40px;
    margin: 25px 20px 20px 10px;
    display: inline-block;
    position: absolute;
    font-size: 50px;
    background-image: url(../img/logwhite.png);
}

#topPannel {
    width: 100%;
    height: 300px;
    background-color: #1E90FF;
    font-family: Proxima Nova,-apple-system,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
    font-weight: normal;
    line-height: 1.25;
    
}

#formPannel {
    max-width: 456px;
    height: 300px;
    margin: 0 auto;
    padding: 40px 78px 54px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border-color: aliceblue;
    position: relative;
    top: -100px;
    background-color: #fff;
    box-shadow: 1px 1px 1px gray;
    color: #808080;
    font-family: Proxima Nova,-apple-system,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif; 
    font-weight: normal;
}

#downPannel {
    height: 200px;
}

.avatar {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    background-image: url(../img/laptop.png);   
}

input[type="email"], input[type="password"] {
    outline: none;
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    padding: 12px 13px 20px 44px;
    border:none;
    border-bottom:1px solid #C0C0C0;
    margin: 0 0 20px;
}

input[type="email"]{
    background: url(../img/m.png)no-repeat 0px 5px; 

}

#divPass {
    display: none;
}

input[type="password"] {
    background: url(../img/l.png)no-repeat 0px 5px; 
}

.btn {
    background-color: #1E90FF;
}

a {
    display: inline-block;
    width: 100%;
    height: 50px;
    text-align: center;
    padding: 10px;
    font-size: 18px;
    color: #1E90FF;
    margin: 10px 0;
    line-height: 2;
    font-weight: 100;
}

a:hover {
    text-decoration: none;
}


.title {
    text-align: center;
    color: #fff;
    line-height: 1.17;
    font-weight: 100;
}

.notificacion {
    color:#ff0000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
